<nav class="navbar navbar-expand-md border-bottom sticky-top bg-white">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Mobile Toggle -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left Links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Search Form -->
      <form 
        class="d-flex mx-auto mx-3" 
        role="search"
        method="GET"
        action="/listings"
      >
        <input
          class="form-control me-2 search-inp"
          type="search"
          name="country"
          placeholder="Search destination"
        />

        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
          Search
        </button>
      </form>

      <!-- Right Links -->
      <div class="navbar-nav align-items-center">

        <a class="nav-link me-2" href="/listings/new">
          Airbnb your home
        </a>

        <% if(!currUser) { %>

          <a class="nav-link me-2" href="/signup">
            <b>Sign up</b>
          </a>

          <a class="nav-link" href="/login">
            <b>Log in</b>
          </a>

        <% } %>

        <% if(currUser) { %>

          <a class="nav-link" href="/logout">
            <b>Log out</b>
          </a>

        <% } %>
      </div>
    </div>
  </div>
</nav>